.container {
  margin: 1.5em;
  text-align: center;
  width: auto;
  min-width: 400px;
}

ul.results {
  padding: 0;
  margin-top: 1rem;
  list-style-type: none;
  text-align: left;
}

ul li a {
  font-size: medium;
  font-weight: bold;
}

.enter-keyword {
  font-size: medium;
}